* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.topnav {
    height: 100px;
    width: 100%;
    display: flex;
    /* position: fixed; */
    box-shadow: 0px 5px 20px 0px #616161;
    background-image: linear-gradient( 90deg, #0707b1, #0000df);
}

#Icon {
    width: 300px;
    text-align: center;
    cursor: pointer;
}

#Icon img {
    margin: 18px 0px;
}

#nav-bar {
    width: 658px;
    text-align: center;
    float: right;
}

.nav-itam {}

.topnav a {
    text-decoration: none;
    text-align: center;
    padding: 35px 25px;
    color: #fff;
    font-size: 19px;
    display: inline-block;
    font-weight: bold;
    margin: 0px -3px;
}

.topnav a:hover {
    background-image: linear-gradient( 33deg, rgb(184, 93, 255) 0%, rgb(255, 69, 69) 100%);
    border-radius: 0 0 20px 20px;
}


/* ..........Home Design.............. */

#home {
    width: 100%;
    height: 700px;
    background-image: linear-gradient( 90deg, #020286, #3131f9);
    display: flex;
}

.myDetails,
.mypng {
    width: 40%;
    padding-left: 20px;
    color: white;
}

.myDetails h1 {
    text-align: center;
    padding: 0px 20px;
    background-image: linear-gradient( 86deg, #ff008d, #ff00f7);
    margin: 67px 0px 40px 500px;
    width: 180px;
    border-radius: 30px;
    font-size: 34px;
    font-weight: bold;
}

.myDetails h1:hover {
    color: black;
}

.myDetails h2 {
    font-size: 43px;
    margin: 76px 0px 54px 57px;
    color: rgb(222, 222, 222);
}

.myDetails h3 {
    font-size: 21px;
    margin: 0px 0px 14px 50px;
}

.myDetails p {
    width: 413px;
    word-break: break-all;
    margin-left: 40px;
    background-image: linear-gradient( 90deg, #ff008d, #ff00f7);
    padding: 20px;
    border-radius: 42px;
    color: #f8f8f8;
}

.button {
    margin: 79px 0px 0px 135px;
}

.button a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 10px 36px;
    background-image: linear-gradient( 122deg, #ff0bea, #ff8100ed);
    font-size: 19px;
    border-radius: 26px;
}

.button a:hover {
    background-image: linear-gradient( 156deg, blue, #ff0bea);
    transition: 1s;
    box-shadow: 0px 1px 20px 0px rgb(255, 255, 255);
}

.mypng img {
    width: 800px;
    height: auto;
}


/* .......           ........services........                 ... */

#services {
    width: 100%;
    height: 650px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
}

.blog-area {
    height: 100%;
    width: 1350px;
    margin: auto;
    padding: 50px;
}

.blog-area h1 {
    text-align: center;
    font-size: 52px;
    font-weight: bold;
    background-image: linear-gradient( 45deg, #2c55d0, #ff0bea);
    width: 453px;
    margin: auto;
    justify-content: center;
    border-radius: 30px;
    color: #000000;
}

.blog-area h1:hover {
    color: white;
}

.all-box {
    display: flex;
}

.all-box a {
    text-decoration: none;
    background: #00bf00;
    width: 100%;
    text-align: center;
    padding: 11px 104px;
    color: white;
    font-weight: bold;
    border-radius: 12px;
}

.all-box a:hover {
    background-image: linear-gradient( 45deg, #088a03, #04c704);
}

.services-box {
    width: 350px;
    height: 416px;
    margin: 79px 5px 0px 0px;
    background: #f9f9f9;
    border-radius: 15px;
    cursor: copy;
}

.services-box:hover {
    box-shadow: 1px 8px 18px #000000;
    border: 2px solid #00bf29;
    transform: scale(1.1);
    transition: 0.5s;
}

#title {
    text-align: center;
    margin: 12px;
}

#title h2 {
    background-image: linear-gradient( 93deg, #d4d4d412, #827e8105);
    border-radius: 10px;
    color: #adadad;
}

#title h2:hover {
    color: #cc00ca;
}

#header b {
    margin-left: 20px;
    color: #28a200;
}

#header span {
    float: right;
    margin-right: 64px;
    color: #b7c300;
}

.pp {
    margin: 15px 0px 18px 20px;
    font-size: 18px;
    color: #909090;
}

.delivery {
    display: flex;
    margin: 0px 0px 0px 20px;
}

.delivery1 {
    margin-right: 10px;
    color: #5cb900;
    font-size: 15px;
}

.delivery1 img {
    width: 19px;
    margin: 0px 0px -4px 0px;
}

.delivery2 img {
    width: 19px;
    margin: 0px 0px -4px 0px;
}

.delivery2 {
    color: #5cb900;
    font-size: 15px;
}

.features {
    width: 100%;
    height: 197px;
    margin-left: 20px;
    margin-top: 11px;
}

.feature {
    display: flex;
    list-style-type: none;
    line-height: 36px;
}

.feature img {
    width: 40px;
    margin: -14px -9px -6px -2px;
    height: 30px;
}


/* .................About-US..............  */

#about-us {
    background-image: url(images/dream-bg.png);
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: right;
}

#section-color {
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 90deg, #4204fd, #ff000026);
}

#section-color h1 {
    font-size: 81px;
    text-align: center;
    padding-top: 21px;
    color: #4c4c4c;
}

.error h3 {
    color: #cccccc;
    text-align: center;
    margin-top: 176px;
    font-size: 30px;
}

#footer {
    box-shadow: 0px -7px 20px 0px #8c8c8c;
    width: 100%;
    height: 116px;
    background-image: linear-gradient( 45deg, #2c55d0, #ff008d);
}

#footer p {
    color: thistle;
    text-align: center;
    padding: 45px;
}